/* LandingBanner.css */
.swiper-pagination-bullet {
    background-color: #fff;
    height: 6px;
    width: 6px;
  }
  
  .swiper-pagination-bullet-active {
    background-color: #FF792D;
    height: 8px;
    width: 8px;
  }
  